<launch>
  <!-- The planning and execution components of MoveIt! configured to run -->
  <!-- using the ROS-Industrial interface. -->
 
  <!-- Non-standard joint names:
       - Create a file [robot_moveit_config]/config/joint_names.yaml
           controller_joint_names: [joint_1, joint_2, ... joint_N] 
       - Update with joint names for your robot (in order expected by rbt controller)
       - and uncomment the following line: -->
 
  <!-- Initialize Arguments -->
  <arg name="sim" default="true"/> <!-- argument for running as a simulation instead of on the real robot controller -->
  <arg name="robot_ip" default="192.168.125.1"/> <!-- argiment for the IP address of YuMi -->
  <arg name="two_grippers" default="false"/> <!-- argument to load either two grippers or one gripper -->
  <arg name="rviz" default="false"/> <!-- argument to lead or not load rviz during execution -->
  <arg name="state_servers_only" default="false"/> <!-- argument for if running robot interface to run only the state servers -->
  <arg name="enable_cameras" default="false"/> <!-- argument to enable/disable cameras -->
  <arg name="enable_depth" default="false"/> <!-- argument to enable/disable depth on camera -->
  <arg name="enable_ground_truth" default="false"/> <!-- argument to enable/disable ground truth for cameras -->

  <!-- Load Joint Names to ROS Parameter Server -->
  <group unless="$(arg two_grippers)"> <!-- if using camera arm -->
    <rosparam command="load" file="$(find yumi_support)/config/camera_arm_joint_names_left.yaml"/>
    <rosparam command="load" file="$(find yumi_support)/config/camera_arm_joint_names_right.yaml"/>
  </group>
  <group if="$(arg two_grippers)"> <!-- if using two grippers -->
    <rosparam command="load" file="$(find yumi_support)/config/two_grippers_joint_names_left.yaml"/>
    <rosparam command="load" file="$(find yumi_support)/config/two_grippers_joint_names_right.yaml"/>
    <rosparam command="load" file="$(find yumi_support)/config/camera_arm_joint_names_left.yaml"/>
  </group>

  <!-- Load Robot Description -->
  <include file="$(find yumi_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
    <arg name="two_grippers" value="$(arg two_grippers)"/>
    <arg name="enable_cameras" value="$(arg enable_cameras)"/>
    <arg name="enable_depth" value="$(arg enable_depth)"/>
    <arg name="enable_ground_truth" value="$(arg enable_ground_truth)"/>
  </include>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/> <!-- publish TF transforms -->

  <!-- Run Robot and Joint State Servers -->
  <group unless="$(arg sim)">
    <include file="$(find yumi_support)/launch/robot_interface.launch" output="screen">
      <arg name="robot_ip" value="$(arg robot_ip)"/>
      <arg name="two_grippers" value="$(arg two_grippers)"/>
      <arg name="state_servers_only" value="$(arg state_servers_only)"/>
    </include>
  </group>

  <!-- Launch Move Group Capabilities -->
  <include file="$(find yumi_moveit_config)/launch/move_group.launch">
    <arg name="two_grippers" value="$(arg two_grippers)"/>
  </include>

  <!-- Launch RViz If Desired -->
  <group if="$(arg rviz)">
    <include file="$(find yumi_moveit_config)/launch/moveit_rviz.launch">
      <arg name="config" value="true"/>
      <arg name="two_grippers" value="$(arg two_grippers)"/>
    </include>
  </group>

</launch>
