MOC:CFG_1.0:6:0::
#
MOTION_SYSTEM:

      -name "system_1" -min_temp_ambient_cabinet 5 -max_temp_ambient_cabinet 40\
      -min_temp_ambient_robot 5 -max_temp_ambient_robot 40
#
MOTION_PLANNER:

      -name "motion_planner_1" -std_servo_queue_time 0.193536\
      -linear_max_speed 1.5 -use_motion_sup "rob_R"\
      -use_jog_parameters "motion_planner_1" -use_for_jogging  -repos_installed \
      -use_spline_parameters "motion_planner_1" -restricted_circlepoint \
      -optimized_start_from_finepoint 1

      -name "motion_planner_2" -std_servo_queue_time 0.193536\
      -linear_max_speed 1.5 -use_motion_sup "rob_L"\
      -use_jog_parameters "motion_planner_2" -repos_installed \
      -use_spline_parameters "motion_planner_2" -restricted_circlepoint \
      -optimized_start_from_finepoint 1

      -name "motion_planner_3"

      -name "motion_planner_4"

      -name "motion_planner_5"

      -name "motion_planner_6"
#
JOG_PARAMETERS:

      -name "motion_planner_1"

      -name "motion_planner_2"
#
RELAY:

      -name "rob1_brake" -out_signal "DRV1BRAKE" -in_signal "DRV1BRAKEFB"

      -name "rob1_run" -out_signal "DRV1CHAIN1" -in_signal "DRV1K1" -run_relay 

      -name "rob1_run2" -out_signal "DRV1CHAIN2" -in_signal "DRV1K2" -run_relay 
#
ROBOT:

      -name "ROB_R" -use_robot_serial_number "rob_R"\
      -use_robot_type "ROB_R_14000_05_05" -use_robot_calib "rob_R_uncalib"\
      -use_joint_0 "rob_R_1" -use_joint_1 "rob_R_2" -use_joint_2 "rob_R_3"\
      -use_joint_3 "rob_R_4" -use_joint_4 "rob_R_5" -use_joint_5 "rob_R_6"\
      -gravity_alpha 0.629233 -gravity_beta 0.950657 -gamma_rotation 0.184266\
      -base_mass 24.18 -base_mass_centre_x -0.061 -base_mass_centre_z 0.063\
      -use_lin_jog "ROB_R" -use_reorient_jog "ROB_R" -use_joint_jog "ROB_R"\
      -pos_x_tol 1E-07 -pos_y_tol 1E-07 -pos_z_tol 1E-07\
      -use_motion_process_mode "robR_optimal_cycle_time_mode"\
      -use_cartesian_speed_supervision "rob_R"\
      -global_max_speed_limit_custom 1.5 -global_max_speed_limit_acp_custom 0.75

      -name "ROB_L" -use_robot_serial_number "rob_L"\
      -use_robot_type "ROB_L_14000_05_05" -use_robot_calib "rob_L_uncalib"\
      -use_joint_0 "rob_L_1" -use_joint_1 "rob_L_2" -use_joint_2 "rob_L_3"\
      -use_joint_3 "rob_L_4" -use_joint_4 "rob_L_5" -use_joint_5 "rob_L_6"\
      -gravity_alpha -0.629233 -gravity_beta 0.950657 -gamma_rotation -0.184266\
      -base_mass 24.18 -base_mass_centre_x -0.061 -base_mass_centre_z 0.063\
      -use_lin_jog "ROB_L" -use_reorient_jog "ROB_L" -use_joint_jog "ROB_L"\
      -pos_x_tol 1E-07 -pos_y_tol 1E-07 -pos_z_tol 1E-07\
      -use_motion_process_mode "robL_optimal_cycle_time_mode"\
      -use_cartesian_speed_supervision "rob_L"\
      -global_max_speed_limit_custom 1.5 -global_max_speed_limit_acp_custom 0.75
#
ROBOT_SERIAL_NUMBER:

      -name "rob_R" -robot_serial_number_high_part "14kR"\
      -robot_serial_number_low_part 500234

      -name "rob_L" -robot_serial_number_high_part "14kL"\
      -robot_serial_number_low_part 500234
#
FOOT_INTERFACE:

      -name "rob_R_foot" -error_offset_x 0.000513849\
      -error_offset_y -0.000357225

      -name "rob_L_foot" -error_offset_x 0.000606174 -error_offset_y 0.000615278
#
TOOL_INTERFACE:

      -name "rob_R_tool" -offset_x -0.00014369 -offset_y 8.52724E-06\
      -offset_z -2.45303E-06

      -name "rob_L_tool" -offset_x -3.99829E-05 -offset_y -8.88446E-07\
      -offset_z -3.18607E-06
#
CSS:

      -name "rob_R" -valid 

      -name "rob_L" -valid 
#
MOTION_PROCESS_MODE:

      -name "robR_optimal_cycle_time_mode" -mode_id 1\
      -use_motion_process_mode_type "rob_R_optimal_cycle_time_mode"

      -name "robR_low_speed_accuracy_mode" -mode_id 2\
      -use_motion_process_mode_type "rob_R_low_speed_accuracy_mode"

      -name "robR_low_speed_stiff_mode" -mode_id 3\
      -use_motion_process_mode_type "rob_R_low_speed_stiff_mode"

      -name "robR_accuracy_mode" -mode_id 4\
      -use_motion_process_mode_type "rob_R_accuracy_mode" -world_acc_factor 1

      -name "robR_mpm_user_mode_1" -mode_id 5\
      -use_motion_process_mode_type "rob_R_optimal_cycle_time_mode"

      -name "robR_mpm_user_mode_2" -mode_id 6\
      -use_motion_process_mode_type "rob_R_optimal_cycle_time_mode"

      -name "robR_mpm_user_mode_3" -mode_id 7\
      -use_motion_process_mode_type "rob_R_optimal_cycle_time_mode"

      -name "robR_mpm_user_mode_4" -mode_id 8\
      -use_motion_process_mode_type "rob_R_optimal_cycle_time_mode"

      -name "robL_optimal_cycle_time_mode" -mode_id 1\
      -use_motion_process_mode_type "rob_L_optimal_cycle_time_mode"

      -name "robL_low_speed_accuracy_mode" -mode_id 2\
      -use_motion_process_mode_type "rob_L_low_speed_accuracy_mode"

      -name "robL_low_speed_stiff_mode" -mode_id 3\
      -use_motion_process_mode_type "rob_L_low_speed_stiff_mode"

      -name "robL_accuracy_mode" -mode_id 4\
      -use_motion_process_mode_type "rob_L_accuracy_mode" -world_acc_factor 1

      -name "robL_mpm_user_mode_1" -mode_id 5\
      -use_motion_process_mode_type "rob_L_optimal_cycle_time_mode"

      -name "robL_mpm_user_mode_2" -mode_id 6\
      -use_motion_process_mode_type "rob_L_optimal_cycle_time_mode"

      -name "robL_mpm_user_mode_3" -mode_id 7\
      -use_motion_process_mode_type "rob_L_optimal_cycle_time_mode"

      -name "robL_mpm_user_mode_4" -mode_id 8\
      -use_motion_process_mode_type "rob_L_optimal_cycle_time_mode"
#
MOTION_SUP:

      -name "default"

      -name "rob_R" -path_col_detect_on  -jog_col_detect_on \
      -inertia_tolerance 0.1 -gravity_tolerance 0.2 -friction_tolerance 1\
      -disturbance_tolerance 0.1

      -name "rob_L" -path_col_detect_on  -jog_col_detect_on \
      -inertia_tolerance 0.1 -gravity_tolerance 0.2 -friction_tolerance 1\
      -disturbance_tolerance 0.1
#
SINGLE:

      -name "ROB_R_7" -use_single_type "ROB_R_7" -use_joint "rob_R_7"

      -name "ROB_L_7" -use_single_type "ROB_L_7" -use_joint "rob_L_7"
#
ARM:

      -name "rob_R_1" -use_arm_type "ROB_R_1" -use_acc_data "rob_R_1"\
      -use_arm_calib "rob_R_1" -upper_joint_bound 2.94088\
      -lower_joint_bound -2.94088 -upper_joint_bound_max 2.94088\
      -lower_joint_bound_min -2.94088

      -name "rob_R_2" -use_arm_type "ROB_R_2" -use_acc_data "rob_R_2"\
      -use_arm_calib "rob_R_2" -upper_joint_bound 0.759218\
      -lower_joint_bound -2.50455 -upper_joint_bound_max 0.759218\
      -lower_joint_bound_min -2.50455 -cal_position -2.26893

      -name "rob_R_3" -use_arm_type "ROB_R_3" -use_acc_data "rob_R_3"\
      -use_check_point "rob_R_3" -use_arm_calib "rob_R_3"\
      -upper_joint_bound 1.39626 -lower_joint_bound -2.15548\
      -upper_joint_bound_max 1.39626 -lower_joint_bound_min -2.15548\
      -cal_position 0.523599

      -name "rob_R_4" -use_arm_type "ROB_R_4" -use_acc_data "rob_R_4"\
      -use_arm_calib "rob_R_4" -upper_joint_bound 5.06145\
      -lower_joint_bound -5.06145 -upper_joint_bound_max 5.06145\
      -lower_joint_bound_min -5.06145

      -name "rob_R_5" -use_arm_type "ROB_R_5" -use_acc_data "rob_R_5"\
      -use_arm_calib "rob_R_5" -upper_joint_bound 2.40855\
      -lower_joint_bound -1.53589 -upper_joint_bound_max 2.40855\
      -lower_joint_bound_min -1.53589 -cal_position 0.698132

      -name "rob_R_6" -use_arm_type "ROB_R_6" -use_acc_data "rob_R_6"\
      -use_arm_calib "rob_R_6" -upper_joint_bound 3.9968\
      -lower_joint_bound -3.9968 -upper_joint_bound_max 3.9968\
      -lower_joint_bound_min -3.9968

      -name "rob_R_7" -use_arm_type "ROB_R_7" -use_acc_data "rob_R_7"\
      -use_arm_calib "rob_R_7" -upper_joint_bound 2.94088\
      -lower_joint_bound -2.94088 -upper_joint_bound_max 2.94088\
      -lower_joint_bound_min -2.94088 -cal_position -2.35619

      -name "rob_L_1" -use_arm_type "ROB_L_1" -use_acc_data "rob_L_1"\
      -use_arm_calib "rob_L_1" -upper_joint_bound 2.94088\
      -lower_joint_bound -2.94088 -upper_joint_bound_max 2.94088\
      -lower_joint_bound_min -2.94088

      -name "rob_L_2" -use_arm_type "ROB_L_2" -use_acc_data "rob_L_2"\
      -use_arm_calib "rob_L_2" -upper_joint_bound 0.759218\
      -lower_joint_bound -2.50455 -upper_joint_bound_max 0.759218\
      -lower_joint_bound_min -2.50455 -cal_position -2.26893

      -name "rob_L_3" -use_arm_type "ROB_L_3" -use_acc_data "rob_L_3"\
      -use_check_point "rob_L_3" -use_arm_calib "rob_L_3"\
      -upper_joint_bound 1.39626 -lower_joint_bound -2.15548\
      -upper_joint_bound_max 1.39626 -lower_joint_bound_min -2.15548\
      -cal_position 0.523599

      -name "rob_L_4" -use_arm_type "ROB_L_4" -use_acc_data "rob_L_4"\
      -use_arm_calib "rob_L_4" -upper_joint_bound 5.06145\
      -lower_joint_bound -5.06145 -upper_joint_bound_max 5.06145\
      -lower_joint_bound_min -5.06145

      -name "rob_L_5" -use_arm_type "ROB_L_5" -use_acc_data "rob_L_5"\
      -use_arm_calib "rob_L_5" -upper_joint_bound 2.40855\
      -lower_joint_bound -1.53589 -upper_joint_bound_max 2.40855\
      -lower_joint_bound_min -1.53589 -cal_position 0.698132

      -name "rob_L_6" -use_arm_type "ROB_L_6" -use_acc_data "rob_L_6"\
      -use_arm_calib "rob_L_6" -upper_joint_bound 3.9968\
      -lower_joint_bound -3.9968 -upper_joint_bound_max 3.9968\
      -lower_joint_bound_min -3.9968

      -name "rob_L_7" -use_arm_type "ROB_L_7" -use_acc_data "rob_L_7"\
      -use_arm_calib "rob_L_7" -upper_joint_bound 2.94088\
      -lower_joint_bound -2.94088 -upper_joint_bound_max 2.94088\
      -lower_joint_bound_min -2.94088 -cal_position 2.35619
#
ARM_LOAD:

      -name "rob_R_load_1"

      -name "rob_R_load_2"

      -name "rob_R_load_3"

      -name "rob_R_load_4"

      -name "rob_L_load_1"

      -name "rob_L_load_2"

      -name "rob_L_load_3"

      -name "rob_L_load_4"
#
ARM_CALIB:

      -name "rob_R_1" -error_offset_x 1.83003E-06 -error_offset_y 0.000175439\
      -error_offset_z -0.000120041 -error_roll 0.00246131\
      -error_pitch 0.000285458 -error_jaw -0.00527246 -arm_compliance_y 1E-08

      -name "rob_R_2" -error_offset_x 9.3781E-05 -error_offset_z 0.000128049\
      -error_roll -0.00035939 -error_pitch -0.000399846\
      -arm_compliance_x 7.7221E-05

      -name "rob_R_3" -error_offset_x -1.59732E-05 -error_offset_z 0.000144529\
      -error_roll -0.00166961 -error_pitch 0.00716249\
      -arm_compliance_x 0.000511452

      -name "rob_R_4" -error_offset_y -0.000140104 -error_offset_z -0.000174614\
      -error_roll 0.00114114 -error_jaw -0.000250679\
      -arm_compliance_x 0.00346303 -arm_compliance_z 7.45299E-05

      -name "rob_R_5" -error_offset_z -0.000185088 -error_pitch -0.00635593\
      -error_jaw -0.00127114 -arm_compliance_y 0.0015159

      -name "rob_R_6" -error_roll -0.00800873 -error_jaw 0.000553359

      -name "rob_R_7" -error_offset_x 7.25085E-05 -error_offset_y 0.000239283\
      -error_roll -4.63859E-05 -error_jaw -0.00933147

      -name "rob_L_1" -error_offset_x -1.26745E-05 -error_offset_y 6.49139E-05\
      -error_offset_z -5.96141E-05 -error_roll -0.000796248\
      -error_pitch 0.00357655 -error_jaw 8.95398E-05\
      -arm_compliance_y 3.52165E-06

      -name "rob_L_2" -error_offset_x 5.9195E-05 -error_offset_z -6.04147E-05\
      -error_roll -0.000188799 -error_pitch 0.00174054\
      -arm_compliance_x 8.47011E-05

      -name "rob_L_3" -error_offset_x 3.53756E-05 -error_offset_z 6.93581E-05\
      -error_roll 0.000340401 -error_pitch -0.0037958\
      -arm_compliance_x 0.000423521

      -name "rob_L_4" -error_offset_y -0.000206712 -error_offset_z -0.000155972\
      -error_roll 0.00275028 -error_jaw 0.000706032 -arm_compliance_x 0.00292623\
      -arm_compliance_z 5.58073E-05

      -name "rob_L_5" -error_offset_z 2.05349E-05 -error_pitch -0.00726487\
      -error_jaw -0.00100348 -arm_compliance_y 0.000942153

      -name "rob_L_6" -error_roll -0.0135484 -error_jaw 0.00108149

      -name "rob_L_7" -error_offset_x 0.000117927 -error_offset_y 0.000247138\
      -error_roll -5.50168E-05 -error_jaw -0.0101334
#
JOINT_CALIB:

      -name "rob_R_1" -Compl 0.000218156

      -name "rob_R_2" -Compl 0.000198323

      -name "rob_R_3" -Compl 0.000575962

      -name "rob_R_4" -Compl 0.000616085

      -name "rob_R_5" -Compl 0.000288918

      -name "rob_R_6" -Compl 1E-08

      -name "rob_L_1" -Compl 0.000233596

      -name "rob_L_2" -Compl 0.000203538

      -name "rob_L_3" -Compl 0.000603596

      -name "rob_L_4" -Compl 0.00103283

      -name "rob_L_5" -Compl 0.000762208

      -name "rob_L_6" -Compl 1E-08

      -name "rob_R_7" -Compl 0.000559697

      -name "rob_L_7" -Compl 0.00059386
#
MAINS:

      -name "mains" -u_tolerance_min -0.15 -u_tolerance_max 0.1

      -name "mains_no_rectifier" -u_tolerance_min 0 -u_tolerance_max 0
#
CURRENT_CONTROLLER:

      -name "c_c_slow_1" -Kp_d_factor 0.2 -current_forced_factor 0.5\
      -delay_filter_time 0.000252
#
CABLE:

      -name "cable_4.5_30" -use_cable_type "cable_4.5" -length 30

      -name "cable_3.0_30" -use_cable_type "cable_3.0" -length 30

      -name "cable_1.5_30" -use_cable_type "cable_1.5" -length 30

      -name "cable_1.0_30" -use_cable_type "cable_1.0" -length 30

      -name "cable_3.0_50" -use_cable_type "cable_3.0" -length 50

      -name "cable_2.0_50" -use_cable_type "cable_2.0" -length 50

      -name "cable_0.75_50" -use_cable_type "cable_0.75" -length 50

      -name "cable_awg24_0.815" -use_cable_type "cable_awg24" -length 0.815

      -name "cable_awg24_1.140" -use_cable_type "cable_awg24" -length 1.14

      -name "cable_awg24_1.65" -use_cable_type "cable_awg24" -length 1.65

      -name "cable_awg24_1.86" -use_cable_type "cable_awg24" -length 1.86

      -name "cable_awg24_2.205" -use_cable_type "cable_awg24" -length 2.205

      -name "cable_awg24_2.165" -use_cable_type "cable_awg24" -length 2.165

      -name "cable_awg24_1.215" -use_cable_type "cable_awg24" -length 1.215
#
MOTOR_TYPE:

      -name "default" -pole_pairs 3 -torque_0 1 -ke 0.5 -i_max 3 -r_stator_20 5\
      -l_stator 0.02
#
MOTOR_CALIB:

      -name "LOCKED" -valid_com_offset  -valid_cal_offset 

      -name "rob_R_1" -valid_com_offset  -cal_offset 4.6033 -valid_cal_offset \
      -latest_calibration_method 1

      -name "rob_R_2" -valid_com_offset  -cal_offset 5.1834 -valid_cal_offset \
      -latest_calibration_method 1

      -name "rob_R_3" -valid_com_offset  -cal_offset 4.2062 -valid_cal_offset \
      -latest_calibration_method 1

      -name "rob_R_4" -valid_com_offset  -cal_offset 3.4763 -valid_cal_offset \
      -latest_calibration_method 1

      -name "rob_R_5" -valid_com_offset  -cal_offset 1.1332 -valid_cal_offset \
      -latest_calibration_method 1

      -name "rob_R_6" -valid_com_offset  -cal_offset 1.8946 -valid_cal_offset \
      -latest_calibration_method 1

      -name "rob_R_7" -valid_com_offset  -cal_offset 0.2525 -valid_cal_offset \
      -latest_calibration_method 1

      -name "rob_L_1" -valid_com_offset  -cal_offset 4.3654 -valid_cal_offset \
      -latest_calibration_method 1

      -name "rob_L_2" -valid_com_offset  -cal_offset 4.8685 -valid_cal_offset \
      -latest_calibration_method 1

      -name "rob_L_3" -valid_com_offset  -cal_offset 4.9674 -valid_cal_offset \
      -latest_calibration_method 1

      -name "rob_L_4" -valid_com_offset  -cal_offset 5.039 -valid_cal_offset \
      -latest_calibration_method 1

      -name "rob_L_5" -valid_com_offset  -cal_offset 2.8406 -valid_cal_offset \
      -latest_calibration_method 1

      -name "rob_L_6" -valid_com_offset  -cal_offset 1.8246 -valid_cal_offset \
      -latest_calibration_method 1

      -name "rob_L_7" -valid_com_offset  -cal_offset 3.8326 -valid_cal_offset \
      -latest_calibration_method 1
#
DRIVE_MODULE_USER_DATA:

      -name "drive_module_1"
#
CFRIC_BLOCK:

      -name "rob_R_CFric_1" -friction_ff_level 0.0141 -servo_tune_id_level 5\
      -servo_tune_id_ramp 6

      -name "rob_R_CFric_2" -friction_ff_level 0.0141 -servo_tune_id_level 5\
      -servo_tune_id_ramp 6

      -name "rob_R_CFric_3" -friction_ff_level 0.006 -servo_tune_id_level 5\
      -servo_tune_id_ramp 6

      -name "rob_R_CFric_4" -friction_ff_level 0.00234 -servo_tune_id_level 5\
      -servo_tune_id_ramp 6

      -name "rob_R_CFric_5" -friction_ff_level 0.00234 -servo_tune_id_level 5\
      -servo_tune_id_ramp 6

      -name "rob_R_CFric_6" -friction_ff_level 0.00234 -servo_tune_id_level 5\
      -servo_tune_id_ramp 6

      -name "rob_R_CFric_7" -friction_ff_level 0.006 -servo_tune_id_level 5\
      -servo_tune_id_ramp 6

      -name "rob_L_CFric_1" -friction_ff_level 0.0141 -servo_tune_id_level 5\
      -servo_tune_id_ramp 6

      -name "rob_L_CFric_2" -friction_ff_level 0.0141 -servo_tune_id_level 5\
      -servo_tune_id_ramp 6

      -name "rob_L_CFric_3" -friction_ff_level 0.006 -servo_tune_id_level 5\
      -servo_tune_id_ramp 6

      -name "rob_L_CFric_4" -friction_ff_level 0.00234 -servo_tune_id_level 5\
      -servo_tune_id_ramp 6

      -name "rob_L_CFric_5" -friction_ff_level 0.00234 -servo_tune_id_level 5\
      -servo_tune_id_ramp 6

      -name "rob_L_CFric_6" -friction_ff_level 0.00234 -servo_tune_id_level 5\
      -servo_tune_id_ramp 6

      -name "rob_L_CFric_7" -friction_ff_level 0.006 -servo_tune_id_level 5\
      -servo_tune_id_ramp 6
#
SIS_EXTERNAL:

      -name "rob_R_sis_param" -gear_box_warning_level 100

      -name "rob_L_sis_param" -gear_box_warning_level 100
#
SIS_EXTERNAL_SINGLE:

      -name "rob_R_sis_param_axis7" -gear_box_warning_level 100

      -name "rob_L_sis_param_axis7" -gear_box_warning_level 100
#
AXIS_CALIBRATION_JOINT:

      -name "rob_R_1"

      -name "rob_R_2"

      -name "rob_R_3"

      -name "rob_R_4"

      -name "rob_R_5"

      -name "rob_R_6"

      -name "rob_R_7"

      -name "rob_L_1"

      -name "rob_L_2"

      -name "rob_L_3"

      -name "rob_L_4"

      -name "rob_L_5"

      -name "rob_L_6"

      -name "rob_L_7"
