EIO:CFG_1.0:6:1::
#
SYSSIG_IN:

      -Signal "Collision_Avoidance" -Action "CollAvoidance"
#
INDUSTRIAL_NETWORK:

      -Name "DeviceNet" -Label "DeviceNet Master/Slave Network" -Address "2"

      -Name "EtherNetIP" -Connection "Private Network" -Label "EtherNet/IP"
#
EIO_CROSS:

      -Name "Cross_Signal_Lamp" -Res "Signal_Lamp" -Act1 "DRV1BRAKE"
#
EIO_SIGNAL_SAFELEVEL:

      -Name "FlangePowerSafeLevel" -ActionWhenStartup "Last"

      -Name "SGcmdSafeLevel" -ActionWhenAccessible "Default"
#
DEVICENET_DEVICE:

      -Name "D652_10" -VendorName "ABB Robotics" -ProductName "24 VDC Unit"\
      -Address 10 -ProductCode 26 -DeviceType 7 -ConnectionType "COS"\
      -OutputSize 2 -InputSize 2
#
DEVICENET_INTERNAL_DEVICE:

      -Name "DN_Internal_Device" -VendorName "ABB Robotics"\
      -ProductName "DeviceNet Internal Slave Device"
#
ETHERNETIP_DEVICE:

      -Name "Hand_R" -VendorName "ABB" -ProductName "EtherNet/IP EIP" -Label "2"\
      -Address "192.168.125.30" -VendorId 75 -ProductCode 1 -OutputAssembly 100\
      -InputAssembly 101 -InputConnectionType "POINT2POINT" -OutputSize 10\
      -InputSize 10 -RequestPacketInterval 10

      -Name "Hand_L" -VendorName "ABB" -ProductName "EtherNet/IP EIP" -Label "1"\
      -Address "192.168.125.40" -VendorId 75 -ProductCode 1 -OutputAssembly 100\
      -InputAssembly 101 -InputConnectionType "POINT2POINT" -OutputSize 10\
      -InputSize 10 -RequestPacketInterval 10
#
ETHERNETIP_INTERNAL_DEVICE:

      -Name "EN_Internal_Device" -VendorName "ABB Robotics"\
      -ProductName "EtherNet/IP Internal Adapter Device"
#
EIO_SIGNAL:

      -Name "custom_DI_0" -SignalType "DI" -Device "D652_10" -DeviceMap "0"

      -Name "custom_DI_1" -SignalType "DI" -Device "D652_10" -DeviceMap "1"

      -Name "custom_DI_2" -SignalType "DI" -Device "D652_10" -DeviceMap "2"

      -Name "custom_DI_3" -SignalType "DI" -Device "D652_10" -DeviceMap "3"

      -Name "custom_DI_4" -SignalType "DI" -Device "D652_10" -DeviceMap "4"

      -Name "custom_DI_5" -SignalType "DI" -Device "D652_10" -DeviceMap "5"

      -Name "custom_DI_6" -SignalType "DI" -Device "D652_10" -DeviceMap "6"

      -Name "custom_DI_7" -SignalType "DI" -Device "D652_10" -DeviceMap "7"

      -Name "custom_DO_0" -SignalType "DO" -Device "D652_10" -DeviceMap "0"

      -Name "custom_DO_1" -SignalType "DO" -Device "D652_10" -DeviceMap "1"

      -Name "custom_DO_2" -SignalType "DO" -Device "D652_10" -DeviceMap "2"

      -Name "custom_DO_3" -SignalType "DO" -Device "D652_10" -DeviceMap "3"

      -Name "custom_DO_4" -SignalType "DO" -Device "D652_10" -DeviceMap "4"

      -Name "custom_DO_5" -SignalType "DO" -Device "D652_10" -DeviceMap "5"

      -Name "custom_DO_6" -SignalType "DO" -Device "D652_10" -DeviceMap "6"

      -Name "custom_DO_7" -SignalType "DO" -Device "D652_10" -DeviceMap "7"

      -Name "hall_sensor_joint_1" -SignalType "DI" -Device "D652_10"\
      -DeviceMap "8"

      -Name "hall_sensor_joint_2" -SignalType "DI" -Device "D652_10"\
      -DeviceMap "9"

      -Name "hall_sensor_joint_3" -SignalType "DI" -Device "D652_10"\
      -DeviceMap "11"

      -Name "hall_sensor_joint_4" -SignalType "DI" -Device "D652_10"\
      -DeviceMap "12"

      -Name "hall_sensor_joint_5" -SignalType "DI" -Device "D652_10"\
      -DeviceMap "13"

      -Name "hall_sensor_joint_6" -SignalType "DI" -Device "D652_10"\
      -DeviceMap "14"

      -Name "hall_sensor_joint_7" -SignalType "DI" -Device "D652_10"\
      -DeviceMap "10"

      -Name "hall_sensor_24V_ROB_R" -SignalType "DO" -Device "D652_10"\
      -DeviceMap "8"

      -Name "hall_sensor_24V_ROB_L" -SignalType "DO" -Device "D652_10"\
      -DeviceMap "9"

      -Name "flange_24V_ROB_R" -SignalType "DO" -Device "D652_10"\
      -DeviceMap "10" -SafeLevel "FlangePowerSafeLevel"

      -Name "flange_24V_ROB_L" -SignalType "DO" -Device "D652_10"\
      -DeviceMap "11" -SafeLevel "FlangePowerSafeLevel"

      -Name "Signal_Lamp" -SignalType "DO" -Device "D652_10" -DeviceMap "12"

      -Name "Collision_Avoidance" -SignalType "DO" -Access "All" -Default 1

      -Name "hand_CmdGripper_R" -SignalType "GO" -Device "Hand_R"\
      -Label "Hand Command Right" -DeviceMap "0-4" -Category "HandRight"\
      -Access "All" -SafeLevel "SGcmdSafeLevel"

      -Name "hand_CmdClearErr_R" -SignalType "DO" -Device "Hand_R"\
      -Label "Clear Error Right" -DeviceMap "7" -Category "HandRight"\
      -Access "All"

      -Name "hand_MaxPosition_R" -SignalType "GO" -Device "Hand_R"\
      -Label "Max Position Right" -DeviceMap "8-15" -Category "HandRight"\
      -Access "All" -Default 100

      -Name "hand_MinPosition_R" -SignalType "GO" -Device "Hand_R"\
      -Label "Min Position Right" -DeviceMap "16-23" -Category "HandRight"\
      -Access "All" -Default 50

      -Name "hand_MaxSpeed_R" -SignalType "GO" -Device "Hand_R"\
      -Label "Max Speed Right" -DeviceMap "24-31" -Category "HandRight"\
      -Access "All" -Default 200

      -Name "hand_HoldForce_R" -SignalType "GO" -Device "Hand_R"\
      -Label "Hold Force Right" -DeviceMap "40-47" -Category "HandRight"\
      -Access "All" -Default 120

      -Name "hand_CmdVacuum1_R" -SignalType "DO" -Device "Hand_R"\
      -Label "Vacuum 1 Right" -DeviceMap "48" -Category "HandRight"\
      -Access "All"

      -Name "hand_CmdVacuum2_R" -SignalType "DO" -Device "Hand_R"\
      -Label "Vacuum 2 Right" -DeviceMap "49" -Category "HandRight"\
      -Access "All"

      -Name "hand_CmdBlowoff1_R" -SignalType "DO" -Device "Hand_R"\
      -Label "BlowOff 1 Right" -DeviceMap "50" -Category "HandRight"\
      -Access "All"

      -Name "hand_CmdBlowoff2_R" -SignalType "DO" -Device "Hand_R"\
      -Label "BlowOff 2 Right" -DeviceMap "51" -Category "HandRight"\
      -Access "All"

      -Name "hand_SysState_R" -SignalType "GI" -Device "Hand_R"\
      -Label "Finger State Right" -DeviceMap "0-4" -Category "HandRight"\
      -Access "All"

      -Name "hand_SysError_R" -SignalType "GI" -Device "Hand_R"\
      -Label "Finger Error Right" -DeviceMap "32-39" -Category "HandRight"\
      -Access "All"

      -Name "hand_StatusCalibrated_R" -SignalType "DI" -Device "Hand_R"\
      -Label "Calibrated Right" -DeviceMap "5" -Category "HandRight"\
      -Access "All"

      -Name "hand_ActualPosition_R" -SignalType "GI" -Device "Hand_R"\
      -Label "Actual Position Right" -DeviceMap "8-15" -Category "HandRight"\
      -Access "All"

      -Name "hand_ActualSpeed_R" -SignalType "GI" -Device "Hand_R"\
      -Label "Actual Speed Right" -DeviceMap "16-23" -Category "HandRight"\
      -Access "All"

      -Name "hand_StatusCamLinked_R" -SignalType "DI" -Device "Hand_R"\
      -Label "Camera Connection Right" -DeviceMap "40" -Category "HandRight"\
      -Access "All"

      -Name "hand_SoftwareVersion_R" -SignalType "GI" -Device "Hand_R"\
      -Label "Software Version Right" -DeviceMap "41-47" -Category "HandRight"\
      -Access "All"

      -Name "hand_StatusVacuum1_R" -SignalType "DI" -Device "Hand_R"\
      -Label "Vacuum 1 Right Status" -DeviceMap "48" -Category "HandRight"\
      -Access "All"

      -Name "hand_StatusVacuum2_R" -SignalType "DI" -Device "Hand_R"\
      -Label "Vacuum 1 Right Status" -DeviceMap "49" -Category "HandRight"\
      -Access "All"

      -Name "hand_StatusBlowoff1_R" -SignalType "DI" -Device "Hand_R"\
      -Label "SuncTool 1 Right Status" -DeviceMap "50" -Category "HandRight"\
      -Access "All"

      -Name "hand_StatusBlowoff2_R" -SignalType "DI" -Device "Hand_R"\
      -Label "SuncTool 1 Right Status" -DeviceMap "51" -Category "HandRight"\
      -Access "All"

      -Name "hand_ActualPressure1_R" -SignalType "GI" -Device "Hand_R"\
      -Label "Vacuum pressure1 Right" -DeviceMap "64-71" -Category "HandRight"\
      -Access "All"

      -Name "hand_ActualPressure2_R" -SignalType "GI" -Device "Hand_R"\
      -Label "Vacuum pressure2 Right" -DeviceMap "72-79" -Category "HandRight"\
      -Access "All"

      -Name "hand_SecurityKey_R" -SignalType "GO" -Device "Hand_R"\
      -Label "Security key right" -DeviceMap "64-71" -Category "HandRight"\
      -Access "All"

      -Name "hand_CmdGripper_L" -SignalType "GO" -Device "Hand_L"\
      -Label "Hand Command Right" -DeviceMap "0-4" -Category "HandRight"\
      -Access "All" -SafeLevel "SGcmdSafeLevel"

      -Name "hand_CmdClearErr_L" -SignalType "DO" -Device "Hand_L"\
      -Label "Clear Error Right" -DeviceMap "7" -Category "HandRight"\
      -Access "All"

      -Name "hand_MaxPosition_L" -SignalType "GO" -Device "Hand_L"\
      -Label "Max Position Right" -DeviceMap "8-15" -Category "HandRight"\
      -Access "All" -Default 100

      -Name "hand_MinPosition_L" -SignalType "GO" -Device "Hand_L"\
      -Label "Min Position Right" -DeviceMap "16-23" -Category "HandRight"\
      -Access "All" -Default 50

      -Name "hand_MaxSpeed_L" -SignalType "GO" -Device "Hand_L"\
      -Label "Max Speed Right" -DeviceMap "24-31" -Category "HandRight"\
      -Access "All" -Default 200

      -Name "hand_HoldForce_L" -SignalType "GO" -Device "Hand_L"\
      -Label "Hold Force Right" -DeviceMap "40-47" -Category "HandRight"\
      -Access "All" -Default 120

      -Name "hand_CmdVacuum1_L" -SignalType "DO" -Device "Hand_L"\
      -Label "Vacuum 1 Right" -DeviceMap "48" -Category "HandRight"\
      -Access "All"

      -Name "hand_CmdVacuum2_L" -SignalType "DO" -Device "Hand_L"\
      -Label "Vacuum 2 Right" -DeviceMap "49" -Category "HandRight"\
      -Access "All"

      -Name "hand_CmdBlowoff1_L" -SignalType "DO" -Device "Hand_L"\
      -Label "BlowOff 1 Right" -DeviceMap "50" -Category "HandRight"\
      -Access "All"

      -Name "hand_CmdBlowoff2_L" -SignalType "DO" -Device "Hand_L"\
      -Label "BlowOff 2 Right" -DeviceMap "51" -Category "HandRight"\
      -Access "All"

      -Name "hand_SysState_L" -SignalType "GI" -Device "Hand_L"\
      -Label "Finger State Right" -DeviceMap "0-4" -Category "HandRight"\
      -Access "All"

      -Name "hand_SysError_L" -SignalType "GI" -Device "Hand_L"\
      -Label "Finger Error Right" -DeviceMap "32-39" -Category "HandRight"\
      -Access "All"

      -Name "hand_StatusCalibrated_L" -SignalType "DI" -Device "Hand_L"\
      -Label "Calibrated Right" -DeviceMap "5" -Category "HandRight"\
      -Access "All"

      -Name "hand_ActualPosition_L" -SignalType "GI" -Device "Hand_L"\
      -Label "Actual Position Right" -DeviceMap "8-15" -Category "HandRight"\
      -Access "All"

      -Name "hand_ActualSpeed_L" -SignalType "GI" -Device "Hand_L"\
      -Label "Actual Speed Right" -DeviceMap "16-23" -Category "HandRight"\
      -Access "All"

      -Name "hand_StatusCamLinked_L" -SignalType "DI" -Device "Hand_L"\
      -Label "Camera Connection Right" -DeviceMap "40" -Category "HandRight"\
      -Access "All"

      -Name "hand_SoftwareVersion_L" -SignalType "GI" -Device "Hand_L"\
      -Label "Software Version Right" -DeviceMap "41-47" -Category "HandRight"\
      -Access "All"

      -Name "hand_StatusVacuum1_L" -SignalType "DI" -Device "Hand_L"\
      -Label "Vacuum 1 Right Status" -DeviceMap "48" -Category "HandRight"\
      -Access "All"

      -Name "hand_StatusVacuum2_L" -SignalType "DI" -Device "Hand_L"\
      -Label "Vacuum 1 Right Status" -DeviceMap "49" -Category "HandRight"\
      -Access "All"

      -Name "hand_StatusBlowoff1_L" -SignalType "DI" -Device "Hand_L"\
      -Label "SuncTool 1 Right Status" -DeviceMap "50" -Category "HandRight"\
      -Access "All"

      -Name "hand_StatusBlowoff2_L" -SignalType "DI" -Device "Hand_L"\
      -Label "SuncTool 1 Right Status" -DeviceMap "51" -Category "HandRight"\
      -Access "All"

      -Name "hand_ActualPressure1_L" -SignalType "GI" -Device "Hand_L"\
      -Label "Vacuum pressure1 Right" -DeviceMap "64-71" -Category "HandRight"\
      -Access "All"

      -Name "hand_ActualPressure2_L" -SignalType "GI" -Device "Hand_L"\
      -Label "Vacuum pressure2 Right" -DeviceMap "72-79" -Category "HandRight"\
      -Access "All"

      -Name "hand_SecurityKey_L" -SignalType "GO" -Device "Hand_L"\
      -Label "Security key right" -DeviceMap "64-71" -Category "HandRight"\
      -Access "All"
